
.popup__input {
    padding-bottom: 13px;
    width: 99%;
    border: none;
    display: inline-block;
    border-bottom: 1px solid #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: relative;
    margin-top: 26px;
}


.popup__input:invalid {
    border-bottom: 1px solid red;
}

